*{
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

body {
    background-color: #22212C;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside main";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

main{
    grid-area: main;
}    

aside{
    grid-area: aside;
}

aside div{
    margin: 30px;
}

#shadow{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: #302F3D;
}

/* MAIN */
/* HEADER */
main header{
    display: flex;
    align-items: center;
    margin: 30px;
    height: 5%;
    width: 95%;
}
/* TÉRMINO HEADER */

/* PROJETOS */
.item{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 30px;  
    width: 305px;
    height: 150px;  
}

.item a img{
    margin-right: 10px;
}

.item img{
    margin-right: 5px;
}

.align-right{
    margin-left: auto;
    margin-right: 5%;
}

.align-icons{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 2%;
}

.projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
}
/* FIM PROJETOS */

/* INÍCIO POSTS */
.recente{
    display: flex;
    align-items: center;
    margin: 0px 30px 30px 30px;
    height: 60px;
    width: 95%;
}

.post{
    display: flex;
    align-items: center;
    margin: 0px 0px 30px 30px;
    width: 95%;
    height: 15%;
}

.post img{
    border: 1.5px solid #837E9F;
    width: 10%;
    border-radius: 50%;
    margin: 30px;
}
/* FIM POST */

/* ASIDE */
/* PROFILE */
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-height: 30vh;
}

.profile img{
    border: 1.5px solid #00FF00;
    max-width: 30%;
    border-radius: 50%;
}
/* FIM PROFILE */

/* LINKS */
.links{
    display: flex;
    flex-direction: column;
}

.links img{
    margin-right: 10px;
}
/* FIM LINKS */

/* TECNOLOGIAS */
.techs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
}

.techs-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    width: 95%;
    margin: 0;
}
/* TECNOLOGIAS */

/* EXPERIENCIAS */
.exps{
    display: flex;
    flex-direction: column;
    background: #302F3D
}

.exps ul{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}
/* EXPERIENCIAS */
/* TÉRMINO ASIDE */


@media(min-width: 620px) and (max-width: 969px){
    .item{
        width: 95%;
    }

}
